#WSadmin Login Token 
test_token=YR5RIQAQQ5W6MBPSW3A7QEMAGI65RVRP
kbase_endpoint=http://nginx/services
auth_service_url=http://nginx/services/auth/api/legacy/KBase/Sessions/Login
auth_service_url_allow_insecure=true
shock_url=http://nginx/services/shock